html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Merriweather", serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h1, h2, dt {
  font-style: italic;
}

h1, h2 {
  font-size: 1.8rem;
}

/** grid stuff **/

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "banner banner banner"
    "box1 box2 box3";
  gap: .75rem;
  max-width: 900px;
}

.banner {
  grid-area: banner;
  max-width: inherit;
}

figure {
  display: grid;
  grid-template-areas:
  "banner";
  margin-left: 0;
  padding: 1rem 0;
  max-width: inherit;
}

img, figcaption {
  align-self: center;
  grid-area: banner;

}

figcaption {
  margin-top: 30rem;
  color: white;
}

.box1 {
  grid-area: box1;
}

.box2 {
  grid-area: box2;
}

.box3 {
  grid-area: box3;
}

.box1, .box2, .box3 {
  margin-top: 1.5rem;
  padding-top: 1.5rem;
}

h1, h2, p, dl {
  padding-left: 1.5rem;
}
