html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Merriweather", serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 1rem;
  padding: 1rem;
}

h1, h2, dt {
  font-style: italic;
}

h1, h2 {
  font-size: 1.8rem;
}

/** grid stuff **/

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(15rem, 100%), 1fr));
  grid-template-areas:
    "banner banner banner"
    "box1 box2 box3";
  gap: .75rem;
}

.banner {
  grid-area: banner;
}

figcaption {
  margin-top: -150px;
  color: white;
}

.box1 {
  grid-area: box1;
}

.box2 {
  grid-area: box2;
}

.box3 {
  grid-area: box3;
}
